<html>
<body>
<p>Total Signals: {{ total_signals }}</p>
<p>Average Signals per Day: {{ avg_per_day }}</p>
<p>Average Signals per Minute: {{ avg_per_min }} </p>
<p>Most Signals in One Day: {{ top_day_val }} on {{ top_day }}</p>
<p>At the current rate of {{ avg_per_day }} Signals per Day, we can expect {{ projected_signals }} by the end of the last lecture.</p>

{% if date %}
<p>Signals on {{ date }}: {{ signals_on_date }}</p>
<p>Signals per Minute on {{ date }}: {{ signals_per_min_on_date }}</p>
{% endif %}

</body>
</html>
